* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(239,242,58);
  background: radial-gradient(circle, rgba(239,242,58,1) 0%, rgba(241,90,229,1) 100%);
  font-family: 'Poppins', sans-serif;
}

.intro {
  min-height: 50vh;
  text-align: center;
  padding: 5rem;
  margin: 3rem;
}

.quiz {
  max-width: 40vw;
}

.quiz div {
  margin: .5rem;
  padding: .5rem;
}

button {
  display: block;
  margin: auto;
}
