* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(239,242,58);
  background: radial-gradient(circle, rgba(239,242,58,1) 0%, rgba(241,90,229,1) 100%);
  font-family: 'Poppins', sans-serif;
}

.intro {
  min-height: 50vh;
  text-align: center;
  padding: 5rem;
  margin: 3rem;
}

.intro h1 {
  font-size: 5rem;
}

.intro p {
  font-size: 1.5rem;
}

.intro img {
  border-radius: 1rem;
  border: black .25rem solid;
}

hr {
  border-top: .25rem solid rgba(241,90,229,1);
}

.quiz {
  min-width: 45vw;
}

.quiz div {
  margin: .5rem;
  padding: .5rem;
}

.dragName label {
  font-size: 2rem;
}

.dragName input {
  height: 3rem;
  width: 20rem;
}

button {
  display: block;
  margin-top: 3rem;
}

.bob img {
  width: 100%;
  height: auto;
  margin: 2rem;
  border-radius: 1rem;
  border: black .25rem solid;
}

.silky {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 5rem;
}

.main {
  display: flex;
  padding-bottom: 10rem;
}
