* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(239,242,58);
  background: radial-gradient(circle, rgba(239,242,58,1) 0%, rgba(241,90,229,1) 100%);
  font-family: 'Poppins', sans-serif;
}

.intro {
  min-height: 50vh;
  text-align: center;
  padding: 5rem;
  margin: 3rem;
}

.intro h1 {
  font-size: 5rem;
}

.intro p {
  font-size: 1.5rem;
}

.quiz {
  min-width: 45vw;
  border: black solid .1rem;
}

.quiz div {
  margin: .5rem;
  padding: .5rem;
}

.dragName label {
  font-size: 2rem;
}

.dragName input {
  height: 3rem;
  width: 20rem;
}

button {
  display: block;
  margin: auto;
}

.bob img {
  width: 100%;
  height: auto;
}

.main {
  display: flex;
}
